<h1>Hello there</h1>
<p>I am so delighted to see you here, welcome to this amazing site to log books. This site is just a test version for me to solifidy my CRUD knowledge using express. It will be fun, trust me</p>
<p>Check out the list of books <a href="/books">here</a></p>