<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Logger</title>
</head>
<body>
    <div>
        <p>NAVIGATION</p>
    </div>
    <%- body %>
    <div>
        <p>FOOTER</p>
    </div>
</body>
</html>